# (c) 2025 lvlcn-t - zshrc
#   - zsh: https://www.zsh.org/

sourceIfExists() {
  test -f "$1" && source "$1"
}

{{- if .machine.proxy.enabled }}
# These must be set before any other commands that use the proxy.
export HTTP_PROXY={{ .machine.proxy.http }}
export HTTPS_PROXY={{ .machine.proxy.https }}
export NO_PROXY={{ .machine.proxy.noProxy }}
export http_proxy={{ .machine.proxy.http }}
export https_proxy={{ .machine.proxy.https }}
export no_proxy={{ .machine.proxy.noProxy }}
{{- end }}

# Brew is a package manager for macOS and Linux: https://brew.sh/
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

sourceIfExists "$HOME/.zshrc.d/plugins.zsh"
sourceIfExists "$HOME/.zshrc.d/keybindings.zsh"
sourceIfExists "$HOME/.zshrc.d/aliases.zsh"
sourceIfExists "$HOME/.zshrc.d/env.zsh"
