#!/bin/bash

# (c) 2025 lvlcn-t - config-wizard
# This script cleans up the initial config template and
# runs the interactive config wizard # to set up the initial configuration.
# It writes out the final config to ~/.config/chezmoi/chezmoi.toml so that
# templated values are available for use in the rest of the dotfiles.

set -eao pipefail

__config_wizard() {
  cd "{{ .chezmoi.sourceDir }}" >/dev/null || {
    echo "Error: Could not change directory to {{ .chezmoi.sourceDir }}."
    exit 1
  }

  # pipx installs the poetry binary into ~/.local/bin so
  # we need to ensure that this directory is in the PATH.
  export PATH="${PATH}:${HOME}/.local/bin"
  which poetry >/dev/null || {
    echo "Error: Poetry is not installed. Please install Poetry in ${HOME}/.local/bin or ensure it is in your PATH."
    exit 1
  }

  echo "📦 Installing dependencies..."
  poetry install || {
    echo "Error: Could not install dependencies. Please ensure Poetry is installed and configured correctly."
    exit 1
  }
  echo "📦 Dependencies installed."

  echo "🧙‍♂️ Running configuration wizard..."
  poetry run python3 scripts/configure.py || {
    echo "Error: Configuration wizard failed. Please check the output for details."
    exit 1
  }
  echo "🧙‍♂️ Configuration wizard completed."

  cd - >/dev/null || {
    echo "Error: Could not return to the previous directory."
    exit 1
  }

  # Remove the wizard function to prevent re-execution
  # and pollution of the shell environment.
  unset -f __config_wizard
}

if [ ! -f {{ .chezmoi.configFile }} ]; then
  echo "No configuration file found. Running the configuration wizard..."
  __config_wizard
  exit 0
fi

# Since the diff command returns 1 if there are differences we must catch it
# otherwise the script will exit with an error.
difference=$(diff {{ .chezmoi.sourceDir }}/config/chezmoi.toml {{ .chezmoi.configFile }}) || true
if [ -z "$difference" ]; then
  echo "Configuration file is identical to the template. Removing it."
  rm {{ .chezmoi.configFile }} || {
    echo "Error: Could not remove the configuration file."
    exit 1
  }
fi

__config_wizard
