#!/bin/bash

# (c) 2025 lvlcn-t - setup
# This script sets up the initial configuration for chezmoi so that it can be run
# without any user interaction beforehand.

CONFIG_FILE="{{ .chezmoi.configFile }}"
SOURCE_FILE="{{ .chezmoi.sourceDir }}/config/chezmoi.toml"

if [ ! -f "$CONFIG_FILE" ]; then
  mkdir -p "$(dirname "$CONFIG_FILE")"
  cp "$SOURCE_FILE" "$CONFIG_FILE"
fi
