#!/bin/bash

# (c) 2024 lvlcn-t - pre-install-deps
# This script is consumed by chezmoi to install dependencies once before running the dotfiles.
# It is idempotent and can be run multiple times without causing issues.

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") -}}

# keyring_installed checks if a keyring is installed
keyring_installed() {
  [ -f "/etc/apt/keyrings/$1" ]
}

# install_or_update installs/updates a package if it does not exist
install_or_update() {
  sudo apt install -qq -y "$1"
}

# add_repo adds an apt repository to the system
add_repo() {
  local repo=$1
  local keyring=$2
  local url=$3
  local components=$4
  if ! grep -q "^deb .*$url" /etc/apt/sources.list /etc/apt/sources.list.d/*; then
    echo "Adding repository: $repo"
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/$keyring] $url $components" | sudo tee /etc/apt/sources.list.d/$repo.list
    sudo apt update
  else
    echo "Repository $repo already exists."
  fi
}

{{- if not .proxy.enabled }}
if [ -z "$HTTP_PROXY" ] && [ -z "$HTTPS_PROXY" ]; then
  read -p "Do you need to set an HTTP/HTTPS Proxy? (y/n): " proxy_required
  if [[ $proxy_required == "y" ]]; then
    read -p "Enter the HTTP Proxy: " http_proxy
    read -p "Enter the HTTPS Proxy: " https_proxy
    export HTTP_PROXY=$http_proxy
    export HTTPS_PROXY=$https_proxy
  fi
fi
{{- else }}
export HTTP_PROXY={{ .proxy.http }}
export HTTPS_PROXY={{ .proxy.https }}
{{- end }}

sudo apt update
if ! command -v git &> /dev/null; then
  sudo add-apt-repository ppa:git-core/ppa -y -u > /dev/null 2>&1
else
  installed_git_version=$(git --version | awk '{print $3}')
  required_git_version="2.43.2"
  
  if [[ $installed_git_version < $required_git_version ]]; then
    sudo add-apt-repository ppa:git-core/ppa -y -u > /dev/null 2>&1
  fi
fi

necessary_packages=(git curl wget zsh tree ca-certificates software-properties-common gpg)
for package in "${necessary_packages[@]}"; do
  install_or_update "$package"
done

# Install brew
if ! command -v brew &> /dev/null; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
brew bundle install --file={{ .chezmoi.sourceDir }}/Brewfile

# Create the keyrings directory
sudo install -m 0755 -d /etc/apt/keyrings

if ! command -v eza &> /dev/null; then
  if ! keyring_installed "eza.gpg"; then
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo gpg --dearmor -o /etc/apt/keyrings/eza.gpg
  fi
  add_repo "eza" "eza.gpg" "http://deb.gierens.de" "stable main"
  install_or_update "eza"
fi

if ! command -v docker &> /dev/null; then
  if ! keyring_installed "docker.asc"; then
    sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc && sudo chmod a+r /etc/apt/keyrings/docker.asc
  fi
  add_repo "docker" "docker.asc" "https://download.docker.com/linux/ubuntu" "$(. /etc/os-release && echo "$VERSION_CODENAME") stable"
  docker_packages=(docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin)
  for package in "${docker_packages[@]}"; do
    install_or_update "$package"
  done
fi

if ! command -v nvim &> /dev/null; then
  sudo add-apt-repository ppa:neovim-ppa/stable -y -u > /dev/null 2>&1
  install_or_update "neovim"
fi

go_version=$(curl -fsSL "https://go.dev/dl/?mode=json" | jq -r '.[0].version')
if ! go version | grep -q "$go_version"; then
  curl -fsSL -LO "https://golang.org/dl/$go_version.linux-amd64.tar.gz"
  sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf "$go_version.linux-amd64.tar.gz"
  rm "$go_version.linux-amd64.tar.gz"
else
  echo "Go $go_version is already installed."
fi

if ! command -v kubectl &> /dev/null; then
  curl -fsSL -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
  # validate_checksum "kubectl" "https://dl.k8s.io/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl.sha256"
  if [ $? -eq 0 ]; then
    sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
  else
    echo "Kubectl checksum validation failed. kubectl was not installed."
  fi
  rm kubectl
fi

if ! command -v helm &> /dev/null; then
  curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
  chmod 700 get_helm.sh
  ./get_helm.sh
  rm get_helm.sh
fi

if ! command -v gh &> /dev/null; then
  if ! keyring_installed "github-cli.gpg"; then
    wget -qO- https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo tee /etc/apt/keyrings/github-cli.gpg && sudo chmod go+r /etc/apt/keyrings/github-cli.gpg
  fi
  add_repo "github-cli" "github-cli.gpg" "https://cli.github.com/packages" "stable main"
  install_or_update "gh"
fi

if ! command -v nvm &> /dev/null; then
  PROFILE=/dev/null bash -c 'curl -fsSL -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash'
fi

python_version="3.12.0"
if ! command -v python3 &> /dev/null || [[ $(python3 --version | awk '{print $2}') < $python_version ]]; then
  sudo add-apt-repository ppa:deadsnakes/ppa -y -u > /dev/null 2>&1
  python_version=$(echo $python_version | cut -d '.' -f 1-2)
  install_or_update "python$python_version"
fi

{{ if .installAdditionalDeps.azure -}}

if ! command -v az &> /dev/null; then
  curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
fi

if ! command -v azd &> /dev/null; then
  curl -fsSL https://aka.ms/install-azd.sh | bash
fi

{{- end }}


{{- end }}

# TODO: Implement the installation of dependencies for macOS / when implementing this, everything for linux can be also done with brew
